.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

header.MuiAppBar-positionFixed{
    background: #434548;
    color: #eee;
    box-shadow: none;
    border: none;
}

main.MuiBox-root{
    background: #303134;
    color: #eee;
}

p.MuiTypography-root{
    color: #eee;
}


.MuiPaper-root.MuiPaper-elevation.MuiDrawer-paper.MuiDrawer-paperAnchorRight{
    background: #434548;
    color: #eee;
}

.MuiPaper-root.MuiPaper-elevation.MuiPaper-rounded{
    background: #434548;
    color: #eee;
}

/*
.MuiToolbar-root{
    background-color: #434548;
    color: #eee;
    box-shadow: none;
    border: none;
}
*/